.App {
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  font-size: 5rem;
}

p::before { 
   content: '';
   background:red; 
   display: block;
   position: absolute;   
   width: 10px; 
   height: 10px;
}

p::after { 
  content: '';
  background:red; 
  display: block;
  position: absolute;   
  width: 10px; 
  height: 10px;
}
