body { 
  margin: 0; 
}

nav { 
  position: absolute; 
  top: 0; 
  width: 100%; 
  background-color: brown;
  color: white; 
  padding: 30px 0 ; 

}

nav a { 
  text-decoration: none; 
  color: yellow; 
  margin: 0 30px;
}

.active { 
  color: white;
}

section { 
  width: 100%; 
  min-height: 100vh;  
}

.one { 
  background: #333; 
}

.two { 
  background-color: aqua
}